<div class="container"> 
     <div class="content" >
          <img 
              src="../../../../assets/images/confirmEmail.png" 
              class="image"  
              alt="confirmEmail" 
              width="200" 
              height="120"  
          />
          <h2 class="title">
               Welcome aboard!
          </h2>
          <p>
               First, you need to confirm your account <br> just press the button below.
          </p>
          <button  type="button" class="btn  b"  (click)="confirm()">
               Get started
          </button>
     </div> 
     <div class="panels-container">
          <div class="panel left-panel">
               <div class="content"> </div>                  
          </div>
     </div>     
 </div>


 